<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
    <link href="../static/css/styles.css" rel="stylesheet">
    <script src="../static/js/index.js"></script>
</head>
<body>
<div class="container-fluid">
    <div>
        <table class="table table-primary table-hover">
            <tr>
                <th></th>
                <th>#ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Country Code</th>
            </tr>

            <tr>
                <td onclick="toggleShow(this)"><div class="btn btn-primary"></div></td>
                <td>${singleBank.name}</td>
                <td>${singleBank.address}</td>
                <td>${singleBank.countryCode}</td>
            </tr>
            <tr class="hidden-details">
                <td colspan="5">
                    <p> This is me.. I am visible </p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th>#ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Country Code</th>
            </tr>
        </table>
    </div>
</div>
</body>
</html>